<div class="main-container">
  <div class="edit-account-form-container">
    <h2>Edit profile</h2>

    <form class="edit-account" #form="ngForm" (ngSubmit)="editProfile(form)">
      <fieldset>

        <div class="field-wrapper">
          <label for="firstName">First name:</label>
          <div>

            <input value="{{userData?.firstName" type="text" id="firstName" name="firstName" class="form-control"
                   ngModel
                   required minlength="2" maxlength="30" pattern="^[A-Za-z]+$" #firstName="ngModel"/>
            <span class="field-info">?<span class="info-text">Field must be long between 2 and 30 characters and contain only latin letters!</span></span>
          </div>
        </div>

        @if (firstName?.touched) {
          <div>
            @if (firstName?.errors?.['required']) {
              <p class="error">First name is required!</p>
            }
            @if (firstName?.errors?.['minlength'] || firstName?.errors?.['maxlength']) {
              <p class="error">First name must be between 2 and 30 letters long!</p>
            }
            @if (firstName?.errors?.['pattern']) {
              <p class="error"> First name must contain only latin letters!</p>
            }
          </div>
        }

        <div class="field-wrapper">
          <label for="lastName">Last name:</label>
          <div>
            <input type="text" id="lastName" name="lastName" class="form-control" value="{{userData.lastName}}" ngModel
                   required minlength="2" maxlength="30" pattern="^[A-Za-z]+$" #lastName="ngModel"/>
            <span class="field-info">?<span class="info-text">Field must be long between 2 and 30 characters and contain only latin letters!</span></span>
          </div>
        </div>

        @if (lastName?.touched) {
          <div>
            @if (lastName?.errors?.['required']) {
              <p class="error">Last name is required!</p>
            }
            @if (lastName?.errors?.['minlength'] || lastName?.errors?.['maxlength']) {
              <p class="error">Last name must be between 2 and 30 letters long!</p>
            }
            @if (lastName?.errors?.['pattern']) {
              <p class="error"> Last name must contain only latin letters!</p>
            }
          </div>
        }

        <div class="field-wrapper">
          <label for="country">Country:</label>
          <div>
            <input type="text" class="form-control" name="country" id="country" value="{{userData.country}}" ngModel
                   #country="ngModel" pattern="[A-Za-z0-9\-\s]+"/>
            <span class="field-info">?<span class="info-text">Country is not required. Use only latin letters with word separation hyphens or white space.</span></span>
          </div>
        </div>

        @if (country?.touched) {
          <div>
            @if (country?.errors?.['pattern']) {
              <p class="error">For country use only latin letters with word separation hyphens or white space.</p>
            }
          </div>
        }
        <div class="field-wrapper">
          <label for="city">City:</label>
          <div>
            <input type="text" class="form-control" name="country" id="city" value="{{userData.city}}" ngModel
                   #city="ngModel" pattern="[A-Za-z0-9\-\s]+"/>
            <span class="field-info">?<span class="info-text">City is not required. Use only latin letters with word separation hyphens or white space.</span></span>
          </div>
        </div>

        @if (city?.touched) {
          <div>
            @if (city?.errors?.['pattern']) {
              <p class="error">For city use only latin letters with word separation hyphens or white space.</p>
            }
          </div>
        }

        <div class="field-wrapper">
          <label for="address">Address :</label>
          <div>
            <input type="text" class="form-control" name="address" id="address" value="{{userData.address}}" ngModel
                   #address="ngModel" pattern="[A-Za-z0-9_\-\s]+"/>
            <span class="field-info">?<span class="info-text">Address is not required. Use only latin letters and digits with word separation hyphens or white space.</span></span>
          </div>
        </div>

        @if (address?.touched) {
          <div>
            @if (address?.errors?.['pattern']) {
              <p class="error">For address use only latin letters with word separation hyphens or white space.</p>
            }
          </div>
        }
        <div class="field-wrapper">
          <label for="phone">Phone number:</label>
          <div>
            <input type="text" id="phone" name="phone" class="form-control" value="{{userData.phone}}" ngModel
                   minlength="4" maxlength="21" pattern="^[+]?\d+$" #phone="ngModel"/>

            <span class="field-info">?
              <span class="info-text">
                The phone number is not required.
                Phone number may or may not start with + length between 4 and 21 digits only.
                Phone numbers with + and without are considered different.
              </span>
            </span>
          </div>
        </div>

        @if (phone?.touched) {
          <div>
            @if (phone?.errors?.['pattern']) {
              <p class="error"> Phone number may or may not start with + and contain only digits.</p>
            }
            @if (phone?.errors?.['minlength'] || phone?.errors?.['maxlength']) {
              <p class="error">Phone number must be between 4 and 21 characters!</p>
            }
          </div>
        }

        <div class="field-wrapper">
          <label for="email">Email:</label>
          <div>
            <input type="email" class="form-control" name="email" id="email" value="{{userData.email}}" appEmail
                   ngModel
                   #email="ngModel" required/>
            <span class="field-info">?<span class="info-text">Field must contain valid email address</span></span>
          </div>
        </div>

        @if (email?.touched) {
          <div>
            @if (email?.errors?.['required']) {
              <p class="error">Email is required!</p>
            }
            @if (email?.errors?.['emailValidator']) {
              <p class="error">Email is not valid!</p>
            }
          </div>
        }

          <p> Leave both password blank if you dont intend to change the password.</p>
          <div class="field-wrapper">
            <label for="oldPassword">Old password:</label>
            <div>
              <input type="password" id="oldPassword" name="oldPassword" class="form-control" ngModel appPassword
                     minlength="8" maxlength="20" #oldPassword="ngModel"/>
              <span class="field-info">?
              <span class="info-text">
                 Password must contain at least one upper and lower case letters one digit and one of the following characters:
                .!&#64;#$%^&*()_+<>? and be between 8 and 20 characters!
              </span>
            </span>
            </div>
          </div>
          @if (oldPassword?.touched) {
            <div>
              @if (oldPassword?.errors?.['minlength'] || newPassword?.errors?.['maxlength']) {
                <p class="error">Password must be between 8 and 20 characters!</p>
              }
              @if (oldPassword?.errors?.['passwordValidator']) {
                <p class="error">
                  Password must contain at least one upper and lower case letters one digit and one of the following
                  characters: .!&#64;#$%^&*()_+<>?
                </p>
              }
            </div>
          }

          <div class="field-wrapper">
            <label for="newPassword">New password:</label>
            <div>
              <input type="password" id="newPassword" name="newPassword" class="form-control" ngModel appPassword
                     minlength="8" maxlength="20" #newPassword="ngModel"/>
              <span class="field-info">?
              <span class="info-text">
                 Password must contain at least one upper and lower case letters one digit and one of the following characters:
                .!&#64;#$%^&*()_+<>? and be between 8 and 20 characters!
              </span>
            </span>
            </div>
          </div>

          @if (newPassword?.touched) {
            <div>
              @if (newPassword?.errors?.['minlength'] || newPassword?.errors?.['maxlength']) {
                <p class="error">Password must be between 8 and 20 characters!</p>
              }
              @if (newPassword?.errors?.['passwordValidator']) {
                <p class="error">
                  Password must contain at least one upper and lower case letters one digit and one of the following
                  characters: .!&#64;#$%^&*()_+<>?
                </p>
              }
            </div>
          }
      </fieldset>
      <button [disabled]="form.invalid" class="register-submit">Submit</button>
      <p> On submission you will be logout to save the data. On login use your new data.</p>
    </form>
  </div>
</div>
