.text-container{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;

}
.users-list-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  padding-right: 1rem;
}
.user-wrapper{
  border: 1px solid rgba(38, 166, 255, 0.87);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 0.7rem;
  flex-grow: 1;
  width: 100%;
}
.users-wrapper{
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
}
.buttons-container button{
  margin: 1rem;
}
.text-container p {
  border-right: 1px solid rgba(38, 166, 255, 0.87);
  display: flex;
  padding: 0 1rem;
  align-self: center;
  width: calc((100% - 3rem)/3);
}

