<div class="nav-container">
  <nav>
    <ul>
      <li class="hover:cursor-pointer">
        <a routerLink="/clinics">Clinics</a>
      </li>
    </ul>
  </nav>
  <nav class="mini-navbar">
    <ul>
      @if (isLogged()) {
        <li>
          <a routerLink="/profile">Profile</a>
        </li>
        <li>
          <a routerLink="/my-medical-record">My medical<span class="block"> record</span></a>
        </li>
        @if (hasCredentials()) {
          <li>
            <a routerLink="/physician-notes">My outpatient<span class="block">sheets</span></a>
          </li>
          <li>
            <a routerLink="/create-note">Create
              <span>outpatient</span>
              <span class="block">sheet</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/schedule', 'new']">Add schedule</a>
          </li>
        }
        @if (isAdmin()) {
          <li>
            <a routerLink="/users">Users</a>
          </li>
        }
        <li>
          <a (click)="logout()" routerLink="/clinics">Logout</a>
        </li>
      } @else {
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
      }
    </ul>
  </nav>
</div>
