<div class="main-container">
  <div class="login-form-container">
    <h2>Login Form</h2>

    <form class="login" #form="ngForm" (ngSubmit)="login(form)">
      <fieldset>
        <div class="field-wrapper">
          <label for="email">Email:</label>
          <div>
            <input type="email" class="form-control" name="email" id="email" appEmail ngModel
                   placeholder="example@example.com" #email="ngModel" required/>
            <span class="field-info">?<span class="info-text">Field must contain valid email address</span></span>
          </div>
        </div>

        @if (email?.touched) {
          <div>
            @if (email?.errors?.['required']) {
              <p class="error">Email is required!</p>
            }
            @if (email?.errors?.['emailValidator']) {
              <p class="error">Email is not valid!</p>
            }
          </div>
        }

        <div class="field-wrapper">
          <label for="password">Password:</label>
          <div>
            <input type="password" id="password" name="password" class="form-control" ngModel appPassword
                   required minlength="8" maxlength="20" #password="ngModel"/>
            <span class="field-info">?
              <span class="info-text">
                 Password must contain at least one upper and lower case letters one digit and one of the following characters:
                .!&#64;#$%^&*()_+<>? and be between 8 and 20 characters!
              </span>
            </span>
          </div>
        </div>

        @if (password?.touched) {
          <div>
            @if (password?.errors?.['required']) {
              <p class="error">Password is required!</p>
            }
            @if (password?.errors?.['minlength'] || password?.errors?.['maxlength']) {
              <p class="error">Password must be between 8 and 20 characters!</p>
            }
            @if (password?.errors?.['passwordValidator']) {
              <p class="error">
                Password must contain at least one upper and lower case letters one digit and one of the following
                characters: .!&#64;#$%^&*()_+<>?
              </p>
            }
          </div>
        }

      </fieldset>

      <button [disabled]="form.invalid" class="login-submit">Login</button>
    </form>
    <p class="text-center"> Dont have account yet? <a routerLink="/register">Register</a></p>
  </div>
</div>
